
app/ahoy/ahoy/__pycache__/settings.cpython-310.pyc
app/ahoy/ahoy/__pycache__/urls.cpython-310.pyc
app/ahoy/db.sqlite3
app/ahoy/index/__pycache__/urls.cpython-310.pyc
app/ahoy/index/__pycache__/views.cpython-310.pyc
