{% extends "base.html" %}
{% load static %}

{% block title %}Profil{% endblock %}

{% block content %}
<div id="profilbox" class="form-container">
    <h2>Jelszó változtatás</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <button type="submit">Jelszó megváltoztatása</button>
            <button><a href="{% url 'profil' %}">Vissza</a></button>
        </div>
    </form>
</div>




<link rel="stylesheet" href="{% static 'css/profil.css' %}" type="text/css"/>

{% endblock %}