{% extends "base.html" %}
{% load static %}

{% block title %}Ahoy{% endblock %}

{% block content %}
    
    {% if messages %}
        {% for message in messages %}
            <script>
                window.onload = function() {
                    alert("{{ message }}");
                };
            </script>
        {% endfor %}
    {% endif %}

    {% if request.user.is_superuser %}
        <p>Ezt a superuser látja csak</p>
    {% elif request.user.is_staff %}
        <p>Ezt a staff látja csak</p>
    {% else %}
        <p>Ezt csak a user látja</p>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"/>
{% endblock %}
