{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta lang="hu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés</title>
    <link rel="icon" href="{% static 'img/skull.ico' %}" type="image/x-icon">
</head>
<body>
    <main>
        <h2>Bejelentkezés</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn">Bejelentkezés</button>
        </form>
        <p>Nincs még fiókja? <a href="{% url 'register' %}" id="registerLink">Regisztráció</a></p>

        {% if messages %}
            {% for message in messages %}
            <script>
                window.onload = function() {
                    alert("{{ message }}");
                };
            </script>
            {% endfor %}
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2024 ☠ Ahoy ☠</p>
    </footer>
</body>
</html>