{% extends "base.html" %}

{% load static %}

{% block title %}
    Üzenetek
{% endblock %}

{% block content %}
    <form method="get">
        <button type="submit" name="filter" value="unread">Olvasatlan üzenetek</button>
        <button type="submit" name="filter" value="read">Olvasott üzenetek</button>
        <button type="submit" name="filter" value="all">Mindenkinek</button>  <!-- Új gomb: Mindenkinek -->
    </form>

    {% if user_messages %}
        <table>
            <tr>
                <th>Címzett</th>
                <th>Cím</th>
                <th>Üzenet</th>
            </tr>
            {% for message in user_messages %}
                <tr>
                    <td>{{ message.to_user }}</td>
                    <td>{{ message.title }}</td>
                    <td>{{ message.message }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nincsenek üzenetek.</p>
    {% endif %}

<link rel="stylesheet" href="{% static 'css/messages.css' %}" type="text/css"/>
{% endblock %}
