{% extends "base.html" %}
{% load static %}

{% block title %}Profil{% endblock %}

{% block content %}
<div id="profilbox">
    <h1>Felhasználói profil</h1>
    <p>Név: {{ request.user.last_name }} {{ request.user.first_name }}</p>
    <p>Felhasználónév: {{ request.user.username }}</p>
    <p>Email cím: {{ request.user.email }}</p>
  
    <div class="button-container">
      <a href="{% url 'change_data' %}"><button>Adatok módosítása</button></a>
      <a href="{% url 'change_password' %}"><button>Jelszó változtatása</button></a>
    </div>
  
    {% if messages %}
        {% for message in messages %}
            <script>
                window.onload = function() {
                    alert("{{ message }}");
                };
            </script>
        {% endfor %}
    {% endif %} 
  </div>
  

<link rel="stylesheet" href="{% static 'css/profil.css' %}" type="text/css"/>
{% endblock %}