{% extends "base.html" %}
{% load static %}

{% block title %}Csapatok{% endblock %}

{% block content %}
<div class="team-container">
  {% comment %}
  <form method="post" action="{% url 'delete_teams' %}">
    {% csrf_token %}
    <button type="submit">Csapatok törlése</button>
  </form>
  {% endcomment %}

  {% if show_senior_selection %}
    <form method="post">
      {% csrf_token %}
      {{ senior_form.as_p }}
      <button type="submit" name="select_senior">Mentés</button>
    </form>
  {% else %}
    <div class="team-card">
      <div class="team-card-header">
        <h2 class="team-card-title">Új csapat létrehozása</h2>
      </div>
      <div class="team-card-body">
        <h3>Senior: {{ selected_senior_username }}</h3>
        <h3>Kit szeretne a csapatba belerakni?</h3>
        <form method="post" action="{% url 'finish_team_creation' %}">
          {% csrf_token %}
          {{ team_form.as_p }}
          
          <!-- Checkbox-ok az engedélyezett felhasználókhoz -->
          {% for user in eligible_users %}
            <input type="checkbox" name="selected_users" value="{{ user.id }}" id="user_{{ user.id }}">
            <label for="user_{{ user.id }}">{{ user.username }}</label><br>
          {% endfor %}
          
          <button type="submit">Új csapat létrehozása</button>
        </form>
      </div>
    </div>
  {% endif %}

</div>
<link rel="stylesheet" href="{% static 'css/team.css' %}" type="text/css"/>
{% endblock %}
